# Bank Stock Value Prediction
## **Data acquisition:  get data using FDIC API**

In [2]:
import io
import pandas as pd
import requests
from pprint import pprint
import json

### **HTTP request using read_csv**
FDIC allows only 1000 record per request.  We had to request banks by state, import each request into a dataframe,
and concatenate the dataframes.

In [3]:
#Get Banks in California
params={
    'filters': 'STALP:CA AND ACTIVE:1',
    'fields': 'ZIP,OFFDOM,CITY,COUNTY,STNAME,STALP,NAME,ACTIVE,CERT,CBSA,ASSET,NETINC,DEP,DEPDOM,ROE,ROA,DATEUPDT,OFFICES',
    'limit': 10,
    'offset':0
}

resp = requests.get('https://banks.data.fdic.gov/api/institutions', 
                    params, headers={'Accept': 'text/csv'}, stream=True)

In [59]:
#Passing no params; default return 10 rows
resp = requests.get('https://banks.data.fdic.gov/api/institutions', headers={'Accept': 'text/csv'}, stream=True)

In [4]:
pd.read_csv(io.BytesIO(resp.content)).head(30)

,ZIP,ACTIVE,ROA,DEPDOM,DATEUPDT,ROE,STNAME,ASSET,OFFICES,NETINC,DEP,NAME,CBSA,CITY,OFFDOM,CERT,STALP,COUNTY
0,95202,1,0.88,2379787,2018-03-02,5.78,California,2981404,19,13072,2379787,Bank of Stockton,"Stockton-Lodi, CA",Stockton,19,1536,CA,San Joaquin
1,90802,1,2.96,193883,2018-03-19,22.34,California,238256,2,3423,193883,International City Bank Federal Savings Bank,"Los Angeles-Long Beach-Anaheim, CA",Long Beach,2,25648,CA,Los Angeles
2,92123,1,2.87,128929,2018-03-16,19.52,California,166316,1,2333,128929,Home Bank of California,"San Diego-Carlsbad, CA",San Diego,1,26271,CA,San Diego
3,91711,1,1.13,136461,2013-02-15,4.83,California,234119,4,1239,136461,Community Commerce Bank,"Los Angeles-Long Beach-Anaheim, CA",Claremont,4,26363,CA,Los Angeles
4,94103,1,0.91,239316,2018-02-23,8.99,California,280469,3,1276,239316,Mission National Bank,"San Francisco-Oakland-Hayward, CA",San Francisco,3,23749,CA,San Francisco
5,90017,1,1.54,598921,2018-02-23,8.44,California,737183,8,5565,598921,State Bank of India (California),"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,8,23998,CA,Los Angeles
6,90069,1,5.12,268739,2018-03-02,12.75,California,464736,2,11703,268739,First Credit Bank,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,2,24332,CA,Los Angeles
7,95054,1,1.57,45910483,2006-11-03,21.22,California,55073093,6,414946,49553926,Silicon Valley Bank,"San Jose-Sunnyvale-Santa Clara, CA",Santa Clara,6,24735,CA,Santa Clara
8,93101,1,1.87,1225676,2018-03-19,17.57,California,1392891,14,13036,1225676,Montecito Bank & Trust,"Santa Maria-Santa Barbara, CA",Santa Barbara,14,21956,CA,Santa Barbara
9,90036,1,0.25,414013,2015-07-29,2.26,California,527959,9,644,414013,GBC International Bank,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles,9,22366,CA,Los Angeles

Create a dataframe with results.

In [61]:
ca_df = pd.read_csv(io.BytesIO(resp.content))

In [62]:
df.head()

,ZIP,CHANGEC5,CHANGEC3,SASSER,CHANGEC4,CHRTAGNT,STNAME,CONSERVE,REGAGENT2,ROAQ,...,CBSA,TE08N528,CBSA_DIV_FLG,NETINCQ,CHANGEC1,CHANGEC2,CERTCONS,ESTYMD,FEDCHRTR,TRUST
0,14456,0,0,0,0,OCC,New York,N,0,NaN,...,"Rochester, NY",0,0,NaN,223,0,0,1817-03-28,1,0
1,11545,0,0,0,0,OCC,New York,N,0,0.99,...,"New York-Newark-Jersey City, NY-NJ-PA",0,1,10443.0,520,0,0,1927-10-01,1,1
2,12801,0,0,0,0,OCC,New York,N,0,NaN,...,"Glens Falls, NY",0,0,NaN,223,650,0,1853-01-01,1,0
3,12801,0,0,0,0,OCC,New York,N,0,1.36,...,"Glens Falls, NY",0,0,7860.0,412,0,0,1851-01-01,1,1
4,13782,0,0,0,0,OCC,New York,N,0,NaN,...,0,0,0,NaN,223,999,0,1921-01-01,1,0

In [ ]:
#Get Banks in Texas
params={
    'filters': 'STALP:TX AND ACTIVE:1',
    'fields': 'ZIP,OFFDOM,CITY,COUNTY,STNAME,STALP,NAME,ACTIVE,CERT,CBSA,ASSET,NETINC,DEP,DEPDOM,ROE,ROA,DATEUPDT,OFFICES',
    'limit': 10,
    'offset':0
}

resp = requests.get('https://banks.data.fdic.gov/api/institutions', 
                    params, headers={'Accept': 'text/csv'}, stream=True)

In [ ]:
pd.read_csv(io.BytesIO(resp.content)).head()

In [ ]:
tx_df = pd.read_csv(io.BytesIO(resp.content))

In [ ]:
tx_df.head()

In [ ]:
#Concatenate California and Texas DF
new_df = pd.concat([ca_df, tx_df])

In [ ]:
new_df.head(100)

Save csv dataframe to csv file

In [63]:
new_df.to_csv('Data/test.csv')

### **HTTP request using read_json**

In [5]:
params={
    'filters': 'STALP:CA AND ACTIVE:1',
    'fields': 'ZIP,OFFDOM,CITY,COUNTY,STNAME,STALP,NAME,ACTIVE,CERT,CBSA,ASSET,NETINC,DEP,DEPDOM,ROE,ROA,DATEUPDT,OFFICES',
    'limit': 10,
    'offset':0
}

resp = requests.get('https://banks.data.fdic.gov/api/institutions', 
                    params, headers={'Accept': 'json'}, stream=True)

In [6]:
resp.json().keys()

dict_keys(['meta', 'data'])

In [25]:
fdic_data = resp.json()
pprint(fdic_data)
#pprint(fdic_data['data'][:2])

In [8]:
resp.json()['meta']

{'total': 155,
 'parameters': {'filters': 'STALP:CA AND ACTIVE:1',
  'fields': 'ZIP,OFFDOM,CITY,COUNTY,STNAME,STALP,NAME,ACTIVE,CERT,CBSA,ASSET,NETINC,DEP,DEPDOM,ROE,ROA,DATEUPDT,OFFICES',
  'limit': '10',
  'offset': '0'},
 'index': {'name': 'institutions_1541815230687',
  'createTimestamp': '2018-11-10T02:00:30Z'}}

In [9]:
resp.json()['data'][:2]

[{'data': {'ZIP': '95202',
   'ACTIVE': '1',
   'ROA': 0.88,
   'DEPDOM': 2379787,
   'DATEUPDT': '2018-03-02',
   'ROE': 5.78,
   'STNAME': 'California',
   'ASSET': 2981404,
   'OFFICES': 19,
   'NETINC': 13072,
   'DEP': 2379787,
   'NAME': 'Bank of Stockton',
   'CBSA': 'Stockton-Lodi, CA',
   'CITY': 'Stockton',
   'OFFDOM': 19,
   'CERT': '1536',
   'STALP': 'CA',
   'COUNTY': 'San Joaquin'}},
 {'data': {'ZIP': '93101',
   'ACTIVE': '1',
   'ROA': 1.87,
   'DEPDOM': 1225676,
   'DATEUPDT': '2018-03-19',
   'ROE': 17.57,
   'STNAME': 'California',
   'ASSET': 1392891,
   'OFFICES': 14,
   'NETINC': 13036,
   'DEP': 1225676,
   'NAME': 'Montecito Bank & Trust',
   'CBSA': 'Santa Maria-Santa Barbara, CA',
   'CITY': 'Santa Barbara',
   'OFFDOM': 14,
   'CERT': '21956',
   'STALP': 'CA',
   'COUNTY': 'Santa Barbara'}}]

In [10]:
pd.DataFrame((d['data'] for d in resp.json()['data']))

,ACTIVE,ASSET,CBSA,CERT,CITY,COUNTY,DATEUPDT,DEP,DEPDOM,NAME,NETINC,OFFDOM,OFFICES,ROA,ROE,STALP,STNAME,ZIP
0,1,2981404,"Stockton-Lodi, CA",1536,Stockton,San Joaquin,2018-03-02,2379787,2379787,Bank of Stockton,13072,19,19,0.88,5.78,CA,California,95202
1,1,1392891,"Santa Maria-Santa Barbara, CA",21956,Santa Barbara,Santa Barbara,2018-03-19,1225676,1225676,Montecito Bank & Trust,13036,14,14,1.87,17.57,CA,California,93101
2,1,527959,"Los Angeles-Long Beach-Anaheim, CA",22366,Los Angeles,Los Angeles,2015-07-29,414013,414013,GBC International Bank,644,9,9,0.25,2.26,CA,California,90036
3,1,170455,"Salinas, CA",22460,Monterey,Monterey,2015-07-29,144179,144179,Monterey County Bank,158,4,4,0.18,2.03,CA,California,93940
4,1,280469,"San Francisco-Oakland-Hayward, CA",23749,San Francisco,San Francisco,2018-02-23,239316,239316,Mission National Bank,1276,3,3,0.91,8.99,CA,California,94103
5,1,737183,"Los Angeles-Long Beach-Anaheim, CA",23998,Los Angeles,Los Angeles,2018-02-23,598921,598921,State Bank of India (California),5565,8,8,1.54,8.44,CA,California,90017
6,1,464736,"Los Angeles-Long Beach-Anaheim, CA",24332,Los Angeles,Los Angeles,2018-03-02,268739,268739,First Credit Bank,11703,2,2,5.12,12.75,CA,California,90069
7,1,55073093,"San Jose-Sunnyvale-Santa Clara, CA",24735,Santa Clara,Santa Clara,2006-11-03,49553926,45910483,Silicon Valley Bank,414946,6,6,1.57,21.22,CA,California,95054
8,1,238256,"Los Angeles-Long Beach-Anaheim, CA",25648,Long Beach,Los Angeles,2018-03-19,193883,193883,International City Bank Federal Savings Bank,3423,2,2,2.96,22.34,CA,California,90802
9,1,166316,"San Diego-Carlsbad, CA",26271,San Diego,San Diego,2018-03-16,128929,128929,Home Bank of California,2333,1,1,2.87,19.52,CA,California,92123

### **HTTP request using read_html**

In [4]:
#Another import from the web using read_html
#https://www.fdic.gov/bank/individual/failed/banklist.html
data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [42]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"

### **Importing csv files into dataframes**

In [7]:
#Banks Assets and Liabilities csv
al_df = pd.read_csv('Data/Bank_Assets_and_Liabilities.csv')

In [8]:
#Drop columns
al_df.drop(['docket', 'rssdhcr', 'rundate', 'bkclass', 'offfor', 'stmult', 'specgrp', 'subchaps', 'county', 'cbsa_metro',
            'insdate', 'effdate', 'parcert', 'trust', 'regagnt', 'insagnt1', 'fdicdbs', 'fdicsupv', 'fldoff',
            'fed', 'occdist', 'otsregnm', 'offoa', 'cb', 'webaddr'
           ], axis=1, inplace=True)

In [7]:
al_df.head()

,cert,fed_rssd,name,city,stalp,zip,repdte,address,namehcr,offdom,...,Oalifhyb,voliab,lnexamt,othbfhlb,lnlssale,ucln,RBCT1J,RBCT2,uc,obsdir
0,4829,746223,1880 Bank,Cambridge,MD,21613,6/30/2018,304 High Street,"DELMARVA BANCSHARES, INC.",6,...,9847.0,17400.0,5164.0,0.0,0.0,33579,45082.0,2082.0,33579,0.0
1,57899,3317192,1st Advantage Bank,Saint Peters,MO,63376,6/30/2018,240 Salt Lick Road,"BANC INVESTORS, LLC",1,...,0.0,11727.0,1836.0,11000.0,0.0,12494,10482.0,789.0,12494,0.0
2,22039,564856,1st Bank,Broadus,MT,59317,6/30/2018,201 North Wilbur Ave,"1ST UNITED BANCORPORATION, INC.",1,...,0.0,551.0,0.0,0.0,0.0,2543,6657.0,340.0,2543,0.0
3,16419,419255,1st Bank & Trust,Broken Bow,OK,74728,6/30/2018,710 South Park Drive,"SOUTHEASTERN BANCSHARES, INC.",4,...,0.0,2562.0,469.0,0.0,0.0,2325,15601.0,1000.0,2325,0.0
4,4122,350657,1st Bank in Hominy,Hominy,OK,74035,6/30/2018,117 North Price,NaN,1,...,0.0,2901.0,92.0,0.0,0.0,1407,3509.0,193.0,1407,0.0

In [9]:
#Banks Performance Ratios csv
pr_df = pd.read_csv('Data/Bank_Performance_Ratios.csv')

In [10]:
#Drop columns
pr_df.drop(['docket', 'rssdhcr', 'name','city', 'stalp', 'zip', 'repdte', 'rundate', 'bkclass', 'address', 'namehcr', 'offdom',
            'offfor', 'stmult', 'specgrp', 'subchaps', 'county', 'cbsa_metro', 'insdate', 'effdate', 'parcert', 'trust', 'regagnt', 
            'insagnt1', 'fdicdbs', 'fdicsupv', 'fldoff', 'fed', 'occdist', 'otsregnm', 'offoa', 'cb', 'webaddr'
           ], axis=1, inplace=True)

In [11]:
pr_df.head()

,cert,fed_rssd,cbsa_metro_name,estymd,mutual,idntilr,idntigr,intincy,intexpy,nimy,...,depdastr,eqv,rbc1aaj,rbc1rwaj,rbcrwaj,rbct1cer,asset5,ernast5,eq5,lnlsgr5
0,4829,746223,NaN,1/1/1880,Stock,NaN,NaN,4.147104,0.276009,3.871094,...,83.780647,14.576680,13.232286,18.220839,19.062323,18.220839,349437.00,315931.33,49492.67,249781.67
1,57899,3317192,"St. Louis, MO-IL",1/31/2005,Stock,NaN,NaN,4.588862,0.990295,3.598567,...,78.517547,10.381943,10.381301,12.109799,13.021327,12.109799,101469.00,94315.33,10351.00,87162.67
2,22039,564856,NaN,6/9/1975,Stock,NaN,NaN,4.025356,0.230642,3.794714,...,86.155571,13.573249,13.324393,24.953145,26.227603,24.953145,50383.67,45958.67,6544.33,23522.33
3,16419,419255,NaN,5/6/1946,Stock,NaN,NaN,4.760830,0.352438,4.408392,...,89.982008,9.799239,10.195466,19.529323,20.781123,19.529323,151457.67,137329.00,14791.33,89325.67
4,4122,350657,"Tulsa, OK",4/12/1906,Stock,NaN,NaN,4.003664,0.425260,3.578405,...,89.466712,8.379532,8.701798,19.566187,20.642355,19.566187,40671.33,38564.67,3394.33,18672.00

In [14]:
#Banks Income and Expense csv
ie_df = pd.read_csv('Data/Bank_Income_ and_Expense.csv')

In [15]:
#Drop columns
ie_df.drop(['docket', 'rssdhcr', 'name','city', 'stalp', 'zip', 'repdte', 'rundate', 'bkclass', 'address', 'namehcr', 'offdom',
            'offfor', 'stmult', 'specgrp', 'subchaps', 'county', 'cbsa_metro', 'insdate', 'effdate', 'parcert', 'trust', 'regagnt', 
            'insagnt1', 'fdicdbs', 'fdicsupv', 'fldoff', 'fed', 'occdist', 'otsregnm', 'offoa', 'cb', 'inst.webaddr'
           ], axis=1, inplace=True)

In [15]:
ie_df.head()

,cert,fed_rssd,cbsa_metro_name,estymd,mutual,inst.webaddr,intinc,eintexp,nim,elnatr,...,itax,ibefxtr,extra,netinc,NETIMIN,NETINBM,ntlnls,eqcdiv,eqcstkrx,noij
0,4829,746223,NaN,1/1/1880,Stock,www.1880bank.com,6551.0,436.0,6115.0,74.0,...,574.0,1799.0,0.0,1799.0,0.0,1799.0,96.0,0.0,0.0,1799.0
1,57899,3317192,"St. Louis, MO-IL",1/31/2005,Stock,www.1stadvantagebank.com,2164.0,467.0,1697.0,60.0,...,0.0,214.0,0.0,214.0,0.0,214.0,-20.0,0.0,0.0,214.0
2,22039,564856,NaN,6/9/1975,Stock,www.our1stbank.com,925.0,53.0,872.0,0.0,...,0.0,435.0,0.0,435.0,0.0,435.0,-344.0,173.0,0.0,435.0
3,16419,419255,NaN,5/6/1946,Stock,http://www/1stbankandtrust.com,3269.0,242.0,3027.0,60.0,...,0.0,1923.0,0.0,1923.0,0.0,1923.0,16.0,925.0,0.0,1910.0
4,4122,350657,"Tulsa, OK",4/12/1906,Stock,http://www.1stbankhominy.com,772.0,82.0,690.0,30.0,...,0.0,148.0,0.0,148.0,0.0,148.0,21.0,56.0,0.0,148.0

In [16]:
merge_alpr_df = pd.merge(al_df, pr_df, on='fed_rssd')

In [17]:
car_df = pd.merge(merge_alpr_df, ie_df, on='fed_rssd')

In [18]:
car_df.head()

,cert_x,fed_rssd,name,city,stalp,zip,repdte,address,namehcr,offdom,...,itax,ibefxtr,extra,netinc,NETIMIN,NETINBM,ntlnls,eqcdiv,eqcstkrx,noij
0,4829,746223,1880 Bank,Cambridge,MD,21613,6/30/2018,304 High Street,"DELMARVA BANCSHARES, INC.",6,...,574.0,1799.0,0.0,1799.0,0.0,1799.0,96.0,0.0,0.0,1799.0
1,57899,3317192,1st Advantage Bank,Saint Peters,MO,63376,6/30/2018,240 Salt Lick Road,"BANC INVESTORS, LLC",1,...,0.0,214.0,0.0,214.0,0.0,214.0,-20.0,0.0,0.0,214.0
2,22039,564856,1st Bank,Broadus,MT,59317,6/30/2018,201 North Wilbur Ave,"1ST UNITED BANCORPORATION, INC.",1,...,0.0,435.0,0.0,435.0,0.0,435.0,-344.0,173.0,0.0,435.0
3,16419,419255,1st Bank & Trust,Broken Bow,OK,74728,6/30/2018,710 South Park Drive,"SOUTHEASTERN BANCSHARES, INC.",4,...,0.0,1923.0,0.0,1923.0,0.0,1923.0,16.0,925.0,0.0,1910.0
4,4122,350657,1st Bank in Hominy,Hominy,OK,74035,6/30/2018,117 North Price,NaN,1,...,0.0,148.0,0.0,148.0,0.0,148.0,21.0,56.0,0.0,148.0

In [19]:
car_df.to_csv('Data/test.csv')

In [25]:
update_car_df = pd.read_csv('Data/test.csv')

In [26]:
update_car_df.head()

,Unnamed: 0,Unnamed: 0.1,cert_x,fed_rssd,name,city,stalp,zip,repdte,address,...,itax,ibefxtr,extra,netinc,NETIMIN,NETINBM,ntlnls,eqcdiv,eqcstkrx,noij
0,0,0,4829,746223,1880 Bank,Cambridge,MD,21613,6/30/2018,304 High Street,...,574.0,1799.0,0.0,1799.0,0.0,1799.0,96.0,0.0,0.0,1799.0
1,1,1,57899,3317192,1st Advantage Bank,Saint Peters,MO,63376,6/30/2018,240 Salt Lick Road,...,0.0,214.0,0.0,214.0,0.0,214.0,-20.0,0.0,0.0,214.0
2,2,2,22039,564856,1st Bank,Broadus,MT,59317,6/30/2018,201 North Wilbur Ave,...,0.0,435.0,0.0,435.0,0.0,435.0,-344.0,173.0,0.0,435.0
3,3,3,16419,419255,1st Bank & Trust,Broken Bow,OK,74728,6/30/2018,710 South Park Drive,...,0.0,1923.0,0.0,1923.0,0.0,1923.0,16.0,925.0,0.0,1910.0
4,4,4,4122,350657,1st Bank in Hominy,Hominy,OK,74035,6/30/2018,117 North Price,...,0.0,148.0,0.0,148.0,0.0,148.0,21.0,56.0,0.0,148.0

In [38]:
update_car_df.drop(update_car_df.iloc[::,[0]], axis=1)

,Unnamed: 0.1,cert_x,fed_rssd,name,city,stalp,zip,repdte,address,namehcr,...,itax,ibefxtr,extra,netinc,NETIMIN,NETINBM,ntlnls,eqcdiv,eqcstkrx,noij
0,0,4829,746223,1880 Bank,Cambridge,MD,21613,6/30/2018,304 High Street,"DELMARVA BANCSHARES, INC.",...,574.0,1799.0,0.0,1799.0,0.0,1799.0,96.0,0.0,0.0,1799.00
1,1,57899,3317192,1st Advantage Bank,Saint Peters,MO,63376,6/30/2018,240 Salt Lick Road,"BANC INVESTORS, LLC",...,0.0,214.0,0.0,214.0,0.0,214.0,-20.0,0.0,0.0,214.00
2,2,22039,564856,1st Bank,Broadus,MT,59317,6/30/2018,201 North Wilbur Ave,"1ST UNITED BANCORPORATION, INC.",...,0.0,435.0,0.0,435.0,0.0,435.0,-344.0,173.0,0.0,435.00
3,3,16419,419255,1st Bank & Trust,Broken Bow,OK,74728,6/30/2018,710 South Park Drive,"SOUTHEASTERN BANCSHARES, INC.",...,0.0,1923.0,0.0,1923.0,0.0,1923.0,16.0,925.0,0.0,1910.00
4,4,4122,350657,1st Bank in Hominy,Hominy,OK,74035,6/30/2018,117 North Price,NaN,...,0.0,148.0,0.0,148.0,0.0,148.0,21.0,56.0,0.0,148.00
5,5,30367,148470,1st Bank of Sea Isle City,Sea Isle City,NJ,8243,6/30/2018,4301 Landis Avenue,NaN,...,144.0,526.0,0.0,526.0,0.0,526.0,0.0,0.0,0.0,526.00
6,6,57298,3048487,1st Bank Yuma,Yuma,AZ,85364,6/30/2018,2799 South 4th Avenue,"WESTERN ARIZONA BANCORP, INC.",...,667.0,2187.0,0.0,2187.0,0.0,2187.0,59.0,1859.0,0.0,2187.00
7,7,32487,941653,1st Cameron State Bank,Cameron,MO,64429,6/30/2018,124 South Walnut,"C & M BANCSHARES, INC.",...,22.0,81.0,0.0,81.0,0.0,81.0,1.0,0.0,0.0,81.00
8,8,58485,3594797,1st Capital Bank,Salinas,CA,93901,6/30/2018,"150 Main St, # 150, Salinas,",NaN,...,1029.0,2749.0,0.0,2749.0,0.0,2749.0,-25.0,0.0,415.0,2749.00
9,9,35456,2920773,1st Colonial Community Bank,Collingswood,NJ,8108,6/30/2018,1040 Haddon Avenue,"1ST COLONIAL BANCORP, INC.",...,808.0,2495.0,0.0,2495.0,0.0,2495.0,200.0,0.0,0.0,2495.00
10,10,11706,338945,1st Community Bank,Sherrard,IL,61281,6/30/2018,407 Third Street,ILLINOIS HOLDING CO.,...,2.0,148.0,0.0,148.0,0.0,148.0,0.0,0.0,0.0,148.00
11,11,27552,1412619,1st Constitution Bank,Cranbury,NJ,8512,6/30/2018,2650 Route 130,1ST CONSTITUTION BANCORP,...,1623.0,4980.0,0.0,4980.0,0.0,4980.0,-35.0,1316.0,506.0,4970.52
12,12,34393,2531562,1st Equity Bank,Skokie,IL,60076,6/30/2018,3956 West Dempster Street,FIRST EQUITY CORP.,...,9.0,608.0,0.0,608.0,0.0,608.0,-1.0,600.0,0.0,608.00
13,13,57611,3203996,1st Equity Bank Northwest,Buffalo Grove,IL,60089,6/30/2018,1330 Dundee Road,NORTHWEST EQUITY CORP.,...,0.0,113.0,0.0,113.0,0.0,113.0,0.0,440.0,0.0,113.00
14,14,31410,535575,"1st Federal Savings Bank of SC, Inc.",Walterboro,SC,29488,6/30/2018,300 Robertson Boulevard,NaN,...,-578.0,814.0,0.0,814.0,0.0,814.0,-86.0,0.0,0.0,799.00
15,15,1673,526452,1st Financial Bank USA,Dakota Dunes,SD,57049,6/30/2018,331 N. Dakota Dunes Blvd.,NaN,...,1946.0,4546.0,0.0,4546.0,0.0,4546.0,12350.0,0.0,0.0,4546.00
16,16,6646,480723,1st National Bank,Lebanon,OH,45036,6/30/2018,730 East Main Street,NaN,...,0.0,320.0,0.0,320.0,0.0,320.0,3.0,183.0,32.0,320.00
17,17,57633,1018927,1st Security Bank of Washington,Mountlake Terrac,WA,98043,6/30/2018,"6920 220th St Sw, Suite 300","FS BANCORP, INC.",...,1587.0,8899.0,0.0,8899.0,0.0,8899.0,-15.0,479.0,0.0,8802.95
18,18,9087,991340,1st Source Bank,South Bend,IN,46601,6/30/2018,100 North Michigan Street,1ST SOURCE CORPORATION,...,11899.0,42949.0,0.0,42949.0,0.0,42949.0,479.0,21977.0,0.0,43221.55
19,19,57626,3223305,1st State Bank,Saginaw,MI,48604,6/30/2018,"4800 Fashion Sq Blvd, # 100","1ST STATE FINANCIAL, LTD.",...,343.0,1283.0,0.0,1283.0,0.0,1283.0,569.0,110.0,56.0,1283.00
20,20,22543,170640,1st State Bank of Mason City,Mason City,IL,62664,6/30/2018,123 West Elm Street,"FIRSTATE BANCORP, INC.",...,0.0,174.0,0.0,174.0,0.0,174.0,0.0,187.0,0.0,171.00
21,21,8426,526519,1st Summit Bank,Johnstown,PA,15904,6/30/2018,125 Donald Lane,"1ST SUMMIT BANCORP OF JOHNSTOWN, INC.",...,829.0,5767.0,0.0,5767.0,0.0,5767.0,41.0,1810.0,0.0,5613.88
22,22,57869,3309393,"1st Trust Bank, Inc.",Hazard,KY,41701,6/30/2018,24 Commerce Drive,NaN,...,209.0,768.0,0.0,768.0,0.0,768.0,40.0,0.0,9.0,768.00
23,23,31249,350572,1st United Bank,Faribault,MN,55021,6/30/2018,430 4th St Nw,"J & B FINANCIAL HOLDINGS, INC.",...,2.0,756.0,0.0,756.0,0.0,756.0,0.0,597.0,0.0,756.00
24,24,9751,340256,21st Century Bank,Loretto,MN,55357,6/30/2018,699 North Medina Street,DOLPHIN FAMILY LIMITED PARTNERSHIP,...,711.0,1734.0,0.0,1734.0,0.0,1734.0,236.0,0.0,0.0,1734.00
25,25,91005,455253,5Star Bank,Colorado Springs,CO,80914,6/30/2018,"Peterson Air Force Base, 455",LITTLE LONDON BANCORP,...,484.0,1446.0,0.0,1446.0,0.0,1446.0,0.0,0.0,0.0,1446.00
26,26,27831,671370,A J Smith Federal Savings Bank,Midlothian,IL,60445,6/30/2018,14757 S Cicero Ave,NaN,...,110.0,343.0,0.0,343.0,0.0,343.0,-19.0,0.0,0.0,343.00
27,27,35029,2775151,AB&T,Albany,GA,31708,6/30/2018,2815 Meredyth Drive,"COMMUNITY CAPITAL BANCSHARES, INC.",...,207.0,725.0,0.0,725.0,0.0,725.0,-88.0,500.0,32.0,725.00
28,28,32257,762773,Abacus Federal Savings Bank,New York,NY,10013,6/30/2018,6 Bowery,NaN,...,344.0,1000.0,0.0,1000.0,0.0,1000.0,0.0,0.0,0.0,1000.00
29,29,30332,114774,Abbeville Building & Loan (A State-Chartered S...,Abbeville,LA,70510,6/30/2018,1212 Charity Street,NaN,...,52.0,163.0,0.0,163.0,0.0,163.0,54.0,0.0,0.0,163.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5521,5521,34240,2505424,Wolf River Community Bank,Hortonville,WI,54944,6/30/2018,309 East Main Street,"WOLF RIVER BANCORP, INC.",...,255.0,943.0,0.0,943.0,0.0,943.0,13.0,0.0,0.0,943.00
5522,5522,1060,671558,Wood & Huston Bank,Marshall,MO,65340,6/30/2018,27 East North Street,"WOOD & HUSTON BANCORPORATION, INC.",...,0.0,10829.0,0.0,10829.0,0.0,10829.0,2102.0,1360.0,0.0,10829.00
5523,5523,10011,93244,Woodford State Bank,Monroe,WI,53566,6/30/2018,403 West 8th Street,"WOODFORD BANCSHARES, INC.",...,2.0,2174.0,0.0,2174.0,0.0,2174.0,-74.0,1950.0,0.0,2174.00
5524,5524,23220,412751,Woodforest National Bank,The Woodlands,TX,77380,6/30/2018,1330 Lake Robbins Drive,WOODFOREST FINANCIAL GROUP EMPLOYEE STOCK OWNE...,...,0.0,52649.0,0.0,52649.0,0.0,52649.0,3547.0,0.0,0.0,52654.00
5525,5525,8863,788652,Woodland Bank,Deer River,MN,56636,6/30/2018,217 Main Avenue East,"REMER BANCORPORATION, INC.",...,93.0,311.0,0.0,311.0,0.0,311.0,-8.0,259.0,0.0,311.00
5526,5526,33136,1479470,Woodlands Bank,Williamsport,PA,17701,6/30/2018,2450 East Third Street,WOODLANDS FINANCIAL SERVICE COMPANY,...,461.0,2272.0,0.0,2272.0,0.0,2272.0,-82.0,709.0,0.0,2272.00
5527,5527,1417,980951,Woodlands National Bank,Hinckley,MN,55037,6/30/2018,122 Main Street,"MILLE LACS BANCORPORATION, INC.",...,327.0,973.0,0.0,973.0,0.0,973.0,115.0,305.0,0.0,983.27
5528,5528,29238,661474,Woodruff Federal Savings and Loan Association,Woodruff,SC,29388,6/30/2018,247 North Main Street,NaN,...,46.0,194.0,0.0,194.0,0.0,194.0,0.0,0.0,0.0,194.00
5529,5529,5873,406022,Woodsboro Bank,Woodsboro,MD,21798,6/30/2018,5 North Main Street,NaN,...,80.0,503.0,0.0,503.0,0.0,503.0,-12.0,24.0,0.0,503.00
5530,5530,32292,97279,Woodsfield Savings Bank,Woodsfield,OH,43793,6/30/2018,600 Lewisville Road,NaN,...,0.0,37.0,0.0,37.0,0.0,37.0,14.0,48.0,0.0,37.00
5531,5531,18031,477303,Woodsville Guaranty Savings Bank,Woodsville,NH,3785,6/30/2018,63 Central Street,"GUARANTY BANCORP, INC.",...,244.0,1544.0,0.0,1544.0,0.0,1544.0,53.0,603.0,0.0,1847.58
5532,5532,5335,833749,WOODTRUST BANK,Wisconsin Rapids,WI,54494,6/30/2018,181 Second Street South,WOODTRUST FINANCIAL CORP,...,19.0,6350.0,0.0,6350.0,0.0,6350.0,0.0,1491.0,0.0,6488.00
5533,5533,24920,384018,Woori America Bank,New York,NY,10001,6/30/2018,330 Fifth Avenue,WOORI BANK,...,3891.0,9747.0,0.0,9747.0,0.0,9747.0,-89.0,0.0,0.0,9747.00
5534,5534,29426,258874,"Worthington Federal Savings Bank, FSB",Worthington,MN,56187,6/30/2018,418 Eleventh Street,NaN,...,58.0,350.0,0.0,350.0,0.0,350.0,0.0,0.0,0.0,350.00
5535,5535,57414,3150205,Worthington National Bank,Arlington,TX,76010,6/30/2018,200 West Main Street,NaN,...,317.0,1046.0,0.0,1046.0,0.0,1046.0,0.0,0.0,74.0,1046.00
5536,5536,22447,541754,Wray State Bank,Wray,CO,80758,6/30/2018,300 Clay Street,HOTC INVESTMENT CO.,...,213.0,791.0,0.0,791.0,0.0,791.0,56.0,0.0,0.0,791.00
5537,5537,26576,948278,Wrentham Co-operative Bank,Wrentham,MA,2093,6/30/2018,102 South Street,NaN,...,57.0,239.0,0.0,239.0,0.0,239.0,0.0,0.0,0.0,239.00
5538,5538,7274,858818,WSB Municipal Bank,Watertown,NY,13601,6/30/2018,111 Clinton Street,NaN,...,163.0,690.0,0.0,690.0,0.0,690.0,0.0,0.0,0.0,690.00
5539,5539,8718,64150,Wyoming Bank & Trust,Cheyenne,WY,82009,6/30/2018,5827 Yellowstone Road,"FARMERS STATE BANKSHARES, INC.",...,0.0,1835.0,0.0,1835.0,0.0,1835.0,-1.0,500.0,0.0,1850.00
5540,5540,35220,2806840,Wyoming Community Bank,Riverton,WY,82501,6/30/2018,1700 N. Federal Boulevard,"WYOMING NATIONAL BANCORPORATION, INC.",...,0.0,777.0,0.0,777.0,0.0,777.0,-19.0,380.0,0.0,777.00
5541,5541,28116,809771,Yakima Federal Savings and Loan Association,Yakima,WA,98901,6/30/2018,118 East Yakima Ave,NaN,...,2500.0,8867.0,0.0,8867.0,0.0,8867.0,0.0,0.0,0.0,8867.00
5542,5542,35407,2806635,Yampa Valley Bank,Steamboat Spring,CO,80477,6/30/2018,600 South Lincoln Avenue,"ROUTT COUNTY BANCORPORATION, INC.",...,0.0,3214.0,0.0,3214.0,0.0,3214.0,15.0,1494.0,0.0,3223.00
5543,5543,4235,953852,YNB,Yukon,OK,73099,6/30/2018,401 Elm Street,"INTERNATIONAL BANCSHARES OF OKLAHOMA, INC.",...,0.0,600.0,0.0,600.0,0.0,600.0,16.0,235.0,0.0,604.00
5544,5544,16079,731050,York State Bank,York,NE,68467,6/30/2018,700 Lincoln Avenue,"YORK HOLDINGS, INC.",...,226.0,775.0,0.0,775.0,0.0,775.0,4.0,275.0,0.0,775.00
5545,5545,57377,3145797,York Traditions Bank,York,PA,17402,6/30/2018,235 St. Charles Way,NaN,...,515.0,2240.0,0.0,2240.0,0.0,2240.0,-6.0,0.0,182.0,2242.43
5546,5546,24342,522856,Yorktown Bank,Pryor,OK,74361,6/30/2018,1913 South Elliott,"YORKTOWN FINANCIAL HOLDINGS, INC.",...,145.0,378.0,0.0,378.0,0.0,378.0,-3.0,0.0,0.0,378.00
5547,5547,27010,67254,Young Americans Bank,Denver,CO,80206,6/30/2018,3550 East First Avenue,YOUNG AMERICANS EDUCATION FOUNDATION,...,0.0,-585.0,0.0,-585.0,0.0,-585.0,0.0,0.0,0.0,-585.00
5548,5548,18454,218261,Zapata National Bank,Zapata,TX,78076,6/30/2018,703 Hidalgo Blvd,"ZAPATA BANCSHARES, INC.",...,0.0,1310.0,0.0,1310.0,0.0,1310.0,-750.0,500.0,0.0,1310.00
5549,5549,15105,969956,Zavala County Bank,Crystal City,TX,78839,6/30/2018,2300 Highway 83 North,NaN,...,0.0,334.0,0.0,334.0,0.0,334.0,-2.0,0.0,0.0,307.00
5550,5550,2270,276579,"ZB, National Association",Salt Lake City,UT,84133,6/30/2018,1 S Main Street,ZIONS BANCORPORATION,...,134540.0,453294.0,0.0,453294.0,0.0,453294.0,-6685.0,351298.0,13185.0,453263.98

In [34]:
update_car_df.head()

,Unnamed: 0,Unnamed: 0.1,cert_x,fed_rssd,name,city,stalp,zip,repdte,address,...,itax,ibefxtr,extra,netinc,NETIMIN,NETINBM,ntlnls,eqcdiv,eqcstkrx,noij
0,0,0,4829,746223,1880 Bank,Cambridge,MD,21613,6/30/2018,304 High Street,...,574.0,1799.0,0.0,1799.0,0.0,1799.0,96.0,0.0,0.0,1799.0
1,1,1,57899,3317192,1st Advantage Bank,Saint Peters,MO,63376,6/30/2018,240 Salt Lick Road,...,0.0,214.0,0.0,214.0,0.0,214.0,-20.0,0.0,0.0,214.0
2,2,2,22039,564856,1st Bank,Broadus,MT,59317,6/30/2018,201 North Wilbur Ave,...,0.0,435.0,0.0,435.0,0.0,435.0,-344.0,173.0,0.0,435.0
3,3,3,16419,419255,1st Bank & Trust,Broken Bow,OK,74728,6/30/2018,710 South Park Drive,...,0.0,1923.0,0.0,1923.0,0.0,1923.0,16.0,925.0,0.0,1910.0
4,4,4,4122,350657,1st Bank in Hominy,Hominy,OK,74035,6/30/2018,117 North Price,...,0.0,148.0,0.0,148.0,0.0,148.0,21.0,56.0,0.0,148.0

In [21]:
update_car_df.drop(['cert_y', 'estymd_y', 'mutual_y'], axis=1, inplace=True)

In [22]:
update_car_df.to_csv('Data/test.csv')

In [24]:
update_car_df.to_csv('Data/car_v1.csv')